body {
  background: #F5DA55;
}

#app {
  width: 480px;
  margin: 150px auto;
  text-align: center;
}

.form-input input {
  padding: 5px;
  outline: transparent;
  border: 2px solid white;
  width: 280px;
}

.form-input button {
  padding: 7px;
  background: #6F6D6D;
  border: 1px solid #F5DA55;
  color: white;
  width: 50px;
  cursor: pointer;
}
